#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100%;
    overflow: hidden;
}

.fl{float: left;}
.fr{float: right;}
.clear:before, .clear:after {content: ""; display: table;}
.clear:after {clear: both;}
.clear{*zoom: 1;overflow: hidden;}
.disN{display: none!important;}
.over-hidden{overflow: hidden;}